<h2 align="center">Articles</h2>
<div class="row">
  <%= link_to "Create an article", new_article_path, align: "right", class: "pull-right col-xs-2 col-xs-pull-2" %>
</div>
<br>
<%= render 'article', obj: @articles %>
