<h1<%= link_to 'Home', root_path %></h1>
<ul>
  <li><%= link_to 'about', about_path %></li>
</ul>
<h2>About</h2>
<p>Blah  BlahBlahBlahBlahBlahBlahBlahBlahBlahBlahBlah</p>
<p>Blah  BlahBlahBlahBlahBlahBlahBlahBlahBlahBlahBlah</p>
<p>Blah  BlahBlahBlahBlahBlahBlahBlahBlahBlahBlahBlah</p>
<div>
  <h4><%= link_to 'home', root_path %><h4>
</div>